1st Internals

In [78]:
mysub="Computer Science"
print(mysub[0:len(mysub)])
print(mysub[-7:-1])
print(mysub[::-2])
print(mysub[:3]+mysub[3:])
print(mysub.isalpha())
print(mysub[2:7],"and",mysub[-4:-1])

Computer Science
Scienc
eniSrtpo
Computer Science
False
mpute and enc

In [80]:
t="DataAnalysis with python"
for ch in t[2:7]:
    print("welcome")

welcome
welcome
welcome
welcome
welcome

In [14]:
List1=[12,32,62,26,80,10]
print(List1[::-2])
print(List1[:3]+List1[3:])

[10, 26, 32]
[12, 32, 62, 26, 80, 10]

In [82]:
myList=[10,20,30,40]
myList.append([50,60])
print(myList)
myList.extend([80,90])
print(myList)
del myList[::2]
print(myList)

[10, 20, 30, 40, [50, 60]]
[10, 20, 30, 40, [50, 60], 80, 90]
[20, 40, 80]

In [94]:
myList=[1,2,3,4,5,6,7,8,10]
for i in range(0,len(myList)):
    if i%2==0:
        print(myList[i])

1
3
5
7
10

In [112]:
t=tuple()
t=t+("python",)
print(t)
t1=(10,20,30)
print(len(t1))

('python',)
3

In [2]:
# tup=(10,56,23,45,23,11,(15,16),75)
# tup.tuple(5,10)
# print(tup)
# print(min(tup[9]))
# tup.pop(65)
# print(sum(tup))

In [3]:
# tup = [10, 56, 23, 45, 23, 11, [15, 16], 75]

# tup.insert(5, 10)
# print(tup)

# print(min(tup[7]))

# tup.pop(7)
# print(tup)

# add = sum(tup[:6]) + sum(tup[6]) + sum(tup[7:])
# print(add)

In [158]:
key={"A","B","C","D"}
value=[10]
dict1=dict.fromkeys(key, value)
print(dict1)
value.append(3)
print(dict1)

{'C': [10], 'A': [10], 'D': [10], 'B': [10]}
{'C': [10, 3], 'A': [10, 3], 'D': [10, 3], 'B': [10, 3]}

In [162]:
keys={1,2,3,4,5}
print(dict.fromkeys(keys))

{1: None, 2: None, 3: None, 4: None, 5: None}

In [58]:
A={10:100,20:200,30:300,40:400,50:500}
print(A.items())
print(A.keys())
print(A.values())

dict_items([(10, 100), (20, 200), (30, 300), (40, 400), (50, 500)])
dict_keys([10, 20, 30, 40, 50])
dict_values([100, 200, 300, 400, 500])

In [66]:
class test:
    def __init__(self,a):
        self.a=a
    def display(self):
        print(self.a)
obj=test("Hello")
obj.display()

Hello

In [164]:
a=[1,2,3,4]
a.append(5)
print(a)
a.remove(4)
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]
[5, 3, 2, 1]

In [26]:
import datetime

time = datetime.datetime.now().strftime("%a %b %d %H:%M:%S IST %Y")
time1 = datetime.datetime.now().strftime("%c")

print("Time is :", time)
print("Time is :", time1)

Time is : Tue Aug 13 08:32:28 IST 2024
Time is : Tue Aug 13 08:32:28 2024

In [254]:
def leap_year(year):

    if (year % 4 == 0 or year % 100 == 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year :"))
if leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year : 2020

2020 is a leap year.

In [34]:
word=input("Enter a word :")
dict={}
for i in word:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

Enter a word : hello

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [278]:
emp={"Sudu":75000,"Ram":60000,"Nithin":55000}
for name,salary in emp.items():
    print(f"Emp name: {name}, Salary: {salary}")

Emp name: Sudu, Salary: 75000
Emp name: Ram, Salary: 60000
Emp name: Nithin, Salary: 55000

In [ ]:
class student:
    def __init__(a,id,name,marks):
        a.id=id
        a.name=name
        a.marks=marks
    def avg(a):
        return sum(a.marks)/len(a.marks)
    def putdata(a):
        print("\nFaculty ID is",a.id)
        print("Faculty Name is",a.name)
        print("Faculty marks is",a.marks)
        
stu=student(1,"Sudu",[50,48,49,45,44,47])
stu.putdata()
print("Student Average marks is",stu.avg())